body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.sup-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    border: 30px solid rgba(255, 0, 0, 0.192);
    box-sizing: border-box;
}

.players-info-container {
    opacity: 0.6;
}

.player1, .player2 {
    color: #ffffff;
}

canvas {
    background-image: url(../../media/images/website/starfield.png);
}