body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.sup-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    border: 30px solid rgba(255, 0, 0, 0.192);
    box-sizing: border-box;
}

canvas {
    background-image: url(../../media/images/website/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}