.users-list__user {
    background-color: #c0bff3;
    border-bottom: 1px #7776b9 solid;
    padding: 5px 15px;
}

.users-list__add-friend {
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}